/* @import './base.css'; */
@import url('https://fonts.googleapis.com/css2?family=Mirza&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aref+Ruqaa&display=swap');

body{
    /* background-color: #212529 !important; */
    font-family: 'Mirza', cursive !important;
    /* font-size: 16px; */
    /* color: #fff !important; */
}
.container-app {
  /* background-color: #212529; */
  max-width: 450px;
  height: 100vh;
}
.font-aref{
  font-family: 'Aref Ruqaa', serif;
}
img{
  width: 100%;
  height: 100%;
}
.content-cover{
  cursor: pointer;
}